<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

    <!--For desktop-->
    <section class="introduction-section show-for-desktop-only">
      <div class="row">
          <div class="small-12 columns">
              <div class="introduction-container hide-to-over">
                  <img alt="logo 10000 ans d'économie" src="../assets/media/images/logo-10000ans-d-economie.png">
                  <h1>10000 ans d'économie</h1>
                  <p class="subtitle">200 dates qui ont marqué l'histoire de l'économie</p>
              </div>
          </div>
      </div>
  </section><!-- Fin introduction-section -->

  <section class="nav-container show-for-desktop-only">
      <div class="row">
          <div class="large-12 columns">
              <nav class="bloc-nav-hp-container">

                <div class="bloc-nav-hp">
                      <div class="bg-bloc-nav-hp period-01">
                          <a href="/page1" title="Explorez Aux origines" class="period-link" data-num-periode="0">
                              <div class="title-container">
                                  <h2>Aux origines</h2>
                                  <p>8500 - 560 av JC.</p>
                                  <span class="icon-chevron-pent-bas"></span>
                              </div>
                          </a>
                          <div class="mask-container">
                              <div class="image" id="drawing-1"></div>
                          </div>
                      </div>
                  </div>

                  <div class="bloc-nav-hp">
                      <div class="bg-bloc-nav-hp period-02">
                          <a href="antiquite-et-moyen-age.html" title="Explorez Antiquité et Moyen-Âge" class="period-link" data-num-periode="1">
                              <div class="title-container">
                                  <h2>Antiquité et Moyen-Âge</h2>
                                  <p>520 av JC. - 1474</p>
                                  <span class="icon-chevron-pent-bas"></span>
                              </div>
                          </a>
                          <div class="mask-container">
                              <div class="image" id="drawing-2"></div>
                          </div>
                      </div>
                  </div>

                  <div class="bloc-nav-hp">
                      <div class="bg-bloc-nav-hp period-03">
                          <a href="grandes-decouvertes.html" title="Explorez Grandes découvertes" class="period-link" data-num-periode="2">
                              <div class="title-container">
                                  <h2>Grandes découvertes</h2>
                                  <p>1474 - 1740</p>
                                  <span class="icon-chevron-pent-bas"></span>
                              </div>
                          </a>
                          <div class="mask-container">
                              <div class="image" id="drawing-3"></div>
                          </div>
                      </div>
                  </div>

                  <div class="bloc-nav-hp">
                      <div class="bg-bloc-nav-hp period-04">
                          <a href="revolutions-industrielles.html" title="Explorez Révolutions industrielles" class="period-link" data-num-periode="3">
                              <div class="title-container">
                                  <h2>Révolutions industrielles</h2>
                                  <p>1740 - 1945</p>
                                  <span class="icon-chevron-pent-bas"></span>
                              </div>
                          </a>
                          <div class="mask-container">
                              <div class="image" id="drawing-4"></div>
                          </div>
                      </div>
                  </div>

                  <div class="bloc-nav-hp">
                      <div class="bg-bloc-nav-hp period-05">
                          <a href="monde-contemporain.html" title="Explorez Monde contemporain" class="period-link" data-num-periode="4">
                              <div class="title-container">
                                  <h2>Monde contemporain</h2>
                                  <p>1945 - ...</p>
                                  <span class="icon-chevron-pent-bas"></span>
                              </div>
                          </a>
                          <div class="mask-container">
                              <div class="image" id="drawing-5"></div>
                          </div>
                      </div>
                  </div>

                  <div class="bloc-nav-hp last theme">
                      <div class="bg-bloc-nav-hp">
                          <a href="themes.html" title="Explorez les thèmes" class="period-link">
                              <div class="title-container">
                                  <h2>#</h2>
                                  <p>Thèmes</p>
                                  <span class="icon-chevron-pent-bas"></span>
                              </div>
                          </a>
                          <div class="mask-container">
                              <div class="image" id="drawing-6"></div>
                          </div>
                      </div>
                  </div>

              </nav>
          </div>
      </div>
  </section><!-- Fin nav-container -->

  <section class="bloc-bottom-container show-for-desktop-only">
      <div class="row">
          <div class="large-12 columns">
              <div class="logo-container">
                  <a href="http://www.citeco.fr/" title="Cité de l'Economie et de la Monnaie" target="_blank"><span class="logo-citeco"><img alt="logo du Cité de l'Economie et de la Monnaie" src="../assets/media/images/logo-citeco-color.png"></span><span class="title">Cité de l'Economie</span></a>

        <a href="http://www.ina.fr/" title="Accédez au site web de l'Institut National de l'Audiovisuel" target="_blank"><span class="title short-title">Partenaire</span><span class="title long-title">En partenariat avec l'<abbr title="Institut National de l'Audiovisuel">INA</abbr></span><span class="logo-ina"><img alt="logo Institut National de l'Audiovisuel" src="../assets/media/images/logo-ina.png"></span></a>

              </div>

              <div class="link-container">
                  <ul>
                   <!--
          <li><a href="cookies" title="Cookies">Cookies</a></li>
                      <li><a href="about" title="A propos">A propos</a></li>

          <li>
                          <a href="javascript:void(0)" data-dropdown="hidemenushare" aria-controls="hidemenu" aria-expanded="false" data-options="align:top" title="Partager">Partager</a>
                          <ul id="hidemenushare" class="f-dropdown f-dropdown-share" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="true" tabindex="-1">
                              <li><span class="btn-facebook" title="Partager sur Facebook" onclick="streamPublish('10000 ans d\'économie','200 dates qui ont marqué l\'histoire de l\'économie','Naviguez à travers une sélection de plus de 200 événements liés à l\'histoire économique et monétaire. Des origines à aujourd\'hui, une succession de dates importantes, qui aident aussi à comprendre le monde contemporain.','/10000-ans-histoire-economie/../assets/media/images/logo-10000ans-d-economie.png','http://www.citeco.fr/10000-ans-histoire-economie/')"><span class="icon-facebook"></span></span></li>
                              <li><a target="_blank" href="https://twitter.com/share" title="Partager sur Twitter"><span class="icon-twitter"></span></a></li>
                              <li><a href="mailto:?subject=10000 ans d'économie&body=Naviguez à travers une sélection de plus de 200 événements liés à l'histoire économique et monétaire. Des origines à aujourd'hui, une succession de dates importantes, qui aident aussi à comprendre le monde contemporain." title="Partager par mail"><span class="icon-mail"></span></a></li>
                          </ul>
                      </li>
           -->
                      <li>
                          <a href="javascript:void(0)" data-dropdown="hidemenulang" aria-controls="hidemenu" aria-expanded="false" data-options="align:top" title="Langue">Fr</a>
                          <ul id="hidemenulang" class="f-dropdown f-dropdown-lang" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="true" tabindex="-1">
                              <li><a href="http://www.citeco.fr/10000-years-history-economics/" title="">En</a></li>
                          </ul>
                      </li>
                      <li style="display:none;"><span class="bt-son btn-sound" title=""><span class="icon-son_on"></span></span></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!-- End For desktop-->

  <!--For mobile -->
  <section class="show-for-mobile-only" id="top">

      <section class="header-mobile">
          <a class="icon-buger-container" href="#" data-reveal-id="sousmenu-mobile"><span class="icon-burger"></span></a>
          <span style="display:none;" class="icon-son-container bt-son" title=""><span class="icon-son_on"></span></span>

<div id="sousmenu-mobile" class="reveal-modal sousmenu-mobile-container" data-reveal>
  <div class="logo-container">
      <a href="https://www.citeco.fr/10000-ans-histoire-economie" title="Retour vers l'accueil">
          <img alt="logo 10000 ans d'économie" src="../assets/media/images/logo-10000ans-d-economie.png">
          <span class="title">Accueil</span>
      </a>
  </div>
  <a class="close-reveal-modal"><span class="icon-close"></span></a>
  <nav>
      <ul>

          <li><a class="link-01 " href="aux-origines.html" title="Aux origines" data-num-periode="0">Aux origines</a></li>


          <li><a class="link-02 " href="antiquite-et-moyen-age.html" title="Antiquité et Moyen-Âge" data-num-periode="1">Antiquité et Moyen-Âge</a></li>


          <li><a class="link-03 " href="grandes-decouvertes.html" title="Grandes découvertes" data-num-periode="2">Grandes découvertes</a></li>


          <li><a class="link-04 " href="revolutions-industrielles.html" title="Révolutions industrielles" data-num-periode="3">Révolutions industrielles</a></li>


          <li><a class="link-05 " href="monde-contemporain.html" title="Monde contemporain" data-num-periode="4">Monde contemporain</a></li>

                                  <li class="last"><a href="themes.html" title="Thèmes">Thèmes</a></li>
      </ul>
  </nav>
  <img class="cache-separation" src="../assets/media/images/cache-oblique-sousmenu.svg" alt="cache de décoration">
  <div class="nav-secondaire">
      <ul>
          <li class="first"><a href="https://www.citeco.fr/mentions-l%C3%A9gales" title="Cookies">Cookies</a></li>
          <li class="first"><a href="about.html" title="A propos">A propos</a></li>
          <li class="share">
              <span>Partager</span>
              <a href="#" title="Partager sur Twitter"><span class="icon-twitter3"></span></a>
              <a href="#" title="Partager sur Facebook"><span class="icon-facebook4"></span></a>
              <a href="#" title="Partager par mail"><span class="icon-mail2"></span></a>
          </li>
          <li class="last">
              <a class="active" href="#" title="Français">FR</a>
              <a href="#" title="English">EN</a>
          </li>
      </ul>
  </div>
<a class="link-pcem" href="http://www.citedeleconomie.fr/" title="Cité de l'Economie et de la Monnaie" target="_blank"><span class="logo-citeco-menu-small"><img alt="logo du Projet Cité de l'Economie et de la Monnaie" src="../assets/media/images/logo-citeco-white.png"></span><br /><span class="title">Cité de l'Economie et de la Monnaie</span></a>
</div>




<!--<a href="http://www.citedeleconomie.fr/" title="Cité de l'Economie et de la Monnaie" target="_blank"><span class="logo-citeco"><img alt="logo du Projet Cité de l'Economie et de la Monnaie" src="/10000-ans-histoire-economie/../assets/media/images/logo-citeco-white.png"></span><span class="title">Cité de l'Economie et de la Monnaie</span></a>-->        </section><!-- Fin header mobile -->

      <section class="welcome-container welcome-container-js"> <!--Zone 1 : accueil mobile-->
          <div class="row">
              <div class="small-12 columns">
                  <div class="introduction-container">
                      <img alt="logo 10000 ans d'économie" src="../assets/media/images/logo-10000ans-d-economie-mobile.svg">
                      <h1>10000 ans d'économie</h1>
                      <p class="subtitle">200 dates qui ont marqué l'histoire de l'économie</p>
                      <span class="arrow-container">
                          <a href="#menu-nav" class="btn-arrow btn-arrow-js"><span class="icon-chevron_simple_bas"></span></a>
                      </span>
                  </div>

                  <div class="call-to-action-container call-to-action-container-js">
                      <a href="#menu-nav" class="btn-rect">Explorez les periodes</a>
                  </div>
              </div>
          </div>
          <section class="footer-mobile">
              <a href="http://www.citeco.fr/" target="_blank" title="Cité de l'Economie et de la Monnaie"><span class="logo-citeco"><img alt="logo du Cité de l'Economie et de la Monnaie" src="../assets/media/images/logo-citeco-color.png"></span><br /><span class="title">Cité de l'Economie et de la Monnaie</span></a>

      <a href="http://www.ina.fr/" title="Accédez au site web de l'Institut National de l'Audiovisuel" target="_blank"><span class="logo-ina"><img alt="logo Institut National de l'Audiovisuel" src="../assets/media/images/logo-ina.png"></span><span class="title">En partenariat avec l'<abbr title="Institut National de l'Audiovisuel">INA</abbr></span></a>

          </section><!-- Fin footer mobile -->
      </section><!-- Fin Zone 1 -->

      <section class="menu-mobile-container menu-mobile-container-js" id="menu-nav"><!--Zone 2 : menu mobile -->
          <div class="menu-header">
              <a href="#top" title="Accueil" class="logo-container">
                  <img alt="logo 10000 ans d'économie" src="../assets/media/images/logo-10000ans-d-economie.png">
                  <h1>10000 ans d'économie</h1>
              </a>
              <p>200 dates qui ont marqué l'histoire de l'économie</p>
          </div>
          <div class="menu-list">
              <ul>

                  <li class="period-mob-01">
                      <a href="aux-origines.html" title="Explorez la frise Aux origines" class="period-link-mob" data-num-periode="0">
                          <div class="title-container">
                              <h2>Aux origines</h2>
                              <p>8500 - 560 av JC.</p>
                          </div>
                      </a>
                      <div class="mask-container-mobile">
                          <div class="image" id="drawing-mobile-1"></div>
                      </div>
                  </li>


                  <li class="period-mob-02">
                      <a href="antiquite-et-moyen-age.html" title="Explorez la frise Antiquité et Moyen-Âge" class="period-link-mob" data-num-periode="1">
                          <div class="title-container">
                              <h2>Antiquité et Moyen-Âge</h2>
                              <p>520 av JC. - 1474</p>
                          </div>
                      </a>
                      <div class="mask-container-mobile">
                          <div class="image" id="drawing-mobile-2"></div>
                      </div>
                  </li>


                  <li class="period-mob-03">
                      <a href="grandes-decouvertes.html" title="Explorez la frise Grandes découvertes" class="period-link-mob" data-num-periode="2">
                          <div class="title-container">
                              <h2>Grandes découvertes</h2>
                              <p>1474 - 1740</p>
                          </div>
                      </a>
                      <div class="mask-container-mobile">
                          <div class="image" id="drawing-mobile-3"></div>
                      </div>
                  </li>


                  <li class="period-mob-04">
                      <a href="revolutions-industrielles.html" title="Explorez la frise Révolutions industrielles" class="period-link-mob" data-num-periode="3">
                          <div class="title-container">
                              <h2>Révolutions industrielles</h2>
                              <p>1740 - 1945</p>
                          </div>
                      </a>
                      <div class="mask-container-mobile">
                          <div class="image" id="drawing-mobile-4"></div>
                      </div>
                  </li>


                  <li class="period-mob-05">
                      <a href="monde-contemporain.html" title="Explorez la frise Monde contemporain" class="period-link-mob" data-num-periode="4">
                          <div class="title-container">
                              <h2>Monde contemporain</h2>
                              <p>1945 - ...</p>
                          </div>
                      </a>
                      <div class="mask-container-mobile">
                          <div class="image" id="drawing-mobile-5"></div>
                      </div>
                  </li>


                  <li class="period-mob-theme">
                      <a href="themes.html" title="Explorez les thèmes" class="period-link-mob">
                          <div class="title-container">
                              <h2>Thèmes</h2>
                              <p>#</p>
                          </div>
                      </a>
                      <div class="mask-container-mobile">
                          <div class="image" id="drawing-mobile-6"></div>
                      </div>
                  </li>
              </ul>
          </div>
      </section><!--Fin Zone 2-->

  </section>
  <!-- End For mobile -->

  <!-- Bandeau CSS Design Awards -->
  <a href="http://www.cssdesignawards.com/sites/10-000-ans-d-economie/26435/" title="CSS Design Awards"><img class="css-award-banner show-for-medium-up" alt="CSS Design Award" src="../assets/media/images/cssdesignawards.png"></a>

  <div id="cookiesAlert" data-alert class="alert-box" tabindex="0" aria-live="assertive" role="dialogalert">
      <a href="https://www.citeco.fr/mentions-l%C3%A9gales" title="en savoir plus sur l'utilisation des cookies">En poursuivant votre navigation sur ce site, vous acceptez l’utilisation des cookies - <span>en savoir +</span></a>
      <button href="#" tabindex="0" class="close" aria-label="Close Alert"><span class="icon-close"></span></button>
  </div>
